.navbar {
  background-color: #3498db;
  color: #fff;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.navbar-links li a:hover {
  background-color: #5aa7df;
}

.active {
  background-color:  #0a5c92;
;
}