#main-container {
     width: 600px;
     margin: 0 auto;
}

.disabled {
    background-color: #3498db!important;
    opacity: 0.6;
}


label {
    display: block;
    margin-bottom: 4px;
}

input {
    margin-bottom: 20px;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: -8px!important;
    
}

#container {
    background-color: #fff;
    min-height: 400px;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0 0 0 / 0.1);
    margin-block: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#container button {
    margin-top: 12px;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
}

#container input {
    margin-left: 8px;
}


#quiz-finale {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#restart-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
}


.storic-item {
    width: 100%;
     box-shadow: 0 0 10px rgba(0 0 0 / 0.1);
     padding: 12px;
     margin-bottom: 12px;
}


.text-correct {
    color: green;
    font-style: italic;
}


.corretta {
    background-color: green!important;
}

.neutra {
    background-color: orange!important;
}

.errata {
    background-color: red!important;
}

.selected  {
    border: 5px solid #3498db!important;
}