
<section id="main-container">
    <div id="container">

@if (!quizIniziato){
    <div>
    <label for="giocatore">Inserisci il tuo nome*: </label>
    <input id="giocatore" [(ngModel)]="nomeGiocatore" name="giocatore" required type="text">

    <label for="punteggioIniziale">Inserisci il punteggio di partenza:</label>
    <input 
        type="number" 
        [max]="10" 
        [min]="0"
        name="punteggioIniziale"
        id="punteggioIniziale"
        [(ngModel)]="punteggio"
    >
    </div>
    <button
        [disabled]="!nomeGiocatore.trim()"
        [class.disabled]="!nomeGiocatore.trim()"
        (click)="avviaQuiz()"
        >Vai alle domande
    </button>
}


@if(quizIniziato && domandaCorrente){
    <span>Domanda numero {{indiceCorrente + 1}} su {{domande.length}}</span>
    <h3>{{domandaCorrente.testo}}</h3>
    @for(risposta of domandaCorrente.risposte; track $index; let i = $index){
        <button  
        [disabled]="risposteMostrate"
        [class.corretta]="risposteMostrate && risposta.punteggio === '0.2'"
        [class.neutra]="risposteMostrate && (risposta.punteggio === '0' || risposta.punteggio ==='-0.1')"
        [class.errata]="risposteMostrate && risposta.punteggio === '-0.4'"
        [class.selected]="selectedRispostaIndex === i"
        (click)="rispostaSelezionata(i)">
            {{risposta.testo}}
        </button>
    }

    @if(risposteMostrate){
        <button (click)="prossimaDomanda()"> {{(indiceCorrente < domande.length -1) ? "Prossima Dommanda" : "Visualizza Risultato"}}</button>
    }
}



@if(quizTerminato){
    <div id="quiz-finale">
        <h3>Quiz Terminato</h3>
        <p>Punteggio finale: <strong>{{punteggio}}</strong></p>
        <p>{{messaggioRisultato}}</p>
        <a id="restart-button" routerLink="/home">Torna alla Homepage</a>
    </div>
}
</div>



@if (quizTerminato) {
     <h3>Riepilogo</h3>
    @for(storicItem of storicoRisposte; track $index){
        <div class="storic-item">
            <strong>Domanda {{storicItem.domanda}}</strong>
            <p>La tua risposta: <strong>{{storicItem.rispostaUtente}}</strong></p>
            <p class="text-correct">Risposta Corretta: <strong>{{storicItem.rispostaCorretta}}</strong></p>
        </div>
    }
}
</section>